
.index{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 225px 225px 225px 225px 225px 225px;
    grid-template-rows: 100px 80px 450px auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding: 10px;
    margin: 0px;
    padding: 10px;

}
.portfolio{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 225px 225px 225px 225px 225px 225px;
    grid-template-rows: 100px 80px 450px auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    padding: 10px;
    margin: 0px;
    padding: 10px;

}
.contact{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 225px 225px 225px 225px 225px 225px;
    grid-template-rows: 100px 80px 450px auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding: 10px;
    margin: 0px;
    padding: 10px;

}
.blog{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 225px 225px 225px 225px 225px 225px;
    grid-template-rows: 100px 80px 200px 200px 200px auto;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding: 10px;
    margin: 0px;
    padding: 10px;

}
.sitereport{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 225px 225px 225px 225px 225px 225px;
    grid-template-rows: 100px 80px auto 225px 255px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding: 10px;
    margin: 0px;
    padding: 10px;

}
.index >div{
   
    padding: 10px;
    text-align: center;
}
.portfolio >div{
    
    padding: 10px;
    font-size: small;
}
.contact >div{
    
    padding: 10px;
    font-size: small;
}
.blog >div{
    
    padding: 10px;
    font-size: small;
}
.sitereport >div{
    
    padding: 10px;
}
.text1{
    grid-column-start: 1;
    grid-column-end: 7 ; 
    background: rgb(172, 225, 247);
    margin: 0px;
    padding: 2px;
    
}
.text2{
    grid-column-start: 1;
    grid-column-end: 3; 
}
.text3{
    grid-column-start: 3;
    grid-column-end: 5; 
    background: rgb(201, 196, 201);
    border-radius: 100px 100px 100px 100px;
    
}
.text4{
    grid-column-start: 5;
    grid-column-end: 7 ; 
    
}
.text5{
    grid-column-start: 1;
    grid-column-end: 3 ; 
    grid-row-start: 3;
    grid-row-end: 6; 
    border-radius: 100px 100px 100px 100px;
    background: -webkit-linear-gradient(right,pink,skyblue);
    margin: 0px;
    padding: 0px;
    
}
.text6{
    grid-column-start: 3;
    grid-column-end: 5; 
    grid-row-start: 3;
    grid-row-end: 6;  
    border-radius: 100px 100px 100px 100px;
    background: -webkit-linear-gradient(right,lightgreen,pink);
}
.text7{
    grid-column-start: 5;
    grid-column-end: 7 ; 
    grid-row-start: 3;
    grid-row-end: 6;  
    
    border-radius: 100px 100px 100px 100px;
    background: -webkit-linear-gradient(right,orange,lightgreen)
}
.text8{
    grid-column-start: 1;
    grid-column-end: 7 ; 

}
.text9{
    grid-column-start: 1;
    grid-column-end: 3 ; 
    height: 90px;
    text-align: left;
}
nav ul{
    margin: 0px;
    padding: 0;
    font-size: 15px;
    margin-top: 0px;
    padding: 0;
}
nav ul li{
    list-style: none;
    float: right;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;
    
}
nav ul li:hover{background: royalblue;}
h1{
    text-align: center;
    text-shadow: 2px 2px 2px white;
    font-size: 30px;
}
h2{
    font-size: 26px;
    text-shadow: 2px 2px 2px white;
    text-align: center;
}
h3{
    font-size: 24px;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    
}
h4{
    font-size: 25px;
    margin: 30px;
    padding: 30px;
}   
h5{
    font-size: 40px;
    margin: 40px;
    padding: 20px;
}
h6{
    font-size: 25px;
    margin: 0;
    padding: 0;
}  
h7{
    font-size: 20px;
}
p{
    font-size: 25px;
} 
.portfolio1 >nav{
    font-size: 20px;
}
.portfolio1 >P{
    font-size: 20px;
}
.contact1 >h6{
    font-size: 40px;
    margin: 8px;
}
.blog1 >P{
    font-size: 20px;
}
.blog4 >P{
    font-size: 20px;
}
.blog5 >P{
    font-size: 20px;
}
.sitereport2>P{
    font-size: 23px;
}
.sitereport7 >P{
    font-size: 20px;
}
.sitereport8 >P{
    font-size: 15px;
}
.portfolio1{
    grid-column-start: 1;
    grid-column-end: 5 ; 
    height: fit-content;
    background: -webkit-linear-gradient(right, rgb(81, 81, 255),white) 
}
.portfolio2{
    grid-column-start: 5;
    grid-column-end: 7; 
    border: 2px solid black;
    height: 477px;
}
.portfolio3{

    grid-column-start: 5;
    grid-column-end: 7 ; 
    height: 143px;
    background: -webkit-linear-gradient(right,rgb(26, 26, 252), rgb(81, 81, 255))
}
.portfolio4{

    grid-column-start: 1;
    grid-column-end: 7 ; 
    height: 25px;
    text-align: center;
}

.contact1{
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: 7 ; 
    background: -webkit-linear-gradient(right, rgb(99, 96, 96),silver) 
}
.contact2{
    grid-column-start: 1;
    grid-column-end: 7 ; 
    height: 25px;
    text-align: center;
}

.blog1{
    grid-column-start: 1;
    grid-column-end: 5 ; 
    height:200px;
    text-align: left;
    border: 2px solid black;
}
.blog2{
    grid-column-start: 5;
    grid-column-end: 7 ;
    height: 200px;
}
.blog3{
    grid-column-start: 1;
    grid-column-end: 3 ; 
    height: 200px;
}
.blog4{
    grid-column-start: 3;
    grid-column-end: 7 ; 
    height: 200px;
    border: 2px solid black;
}
.blog5{
    grid-column-start: 1;
    grid-column-end: 5 ; 
    height: 200px;
    border: 2px solid black;
}
.blog6{
    grid-column-start: 5;
    grid-column-end: 7 ;
    height: 200px;
}
.blog7{
    grid-column-start: 1;
    grid-column-end: 7;
    height: 25px;
    text-align: center;
}
.sitereport1{
    grid-column-start: 1;
    grid-column-end: 7;
    border: 2px solid black;
    
}
.sitereport2{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 2px solid black;
}
.sitereport3{
    grid-column-start: 5;
    grid-column-end: 7;
    
}
.sitereport7{
    grid-column-start: 4;
    grid-column-end: 7;
    border: 2px solid black;
}
.sitereport8{
    grid-column-start: 1;
    grid-column-end: 2;
    border: 2px solid black;
}
.sitereport9{
    grid-column-start: 2;
    grid-column-end: 7;
    border: 2px solid black;
}
.sitereport16{
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
}


   

